<form action="/admin/announcements" method="POST" class="mx-auto">
  <h1 class="text-center mb-3">新增公告</h1>
  <div class="mb-3">
    <label for="title" class="form-label">標題</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="請輸入標題。" required>
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">內容</label>
    <textarea name="content" id="content" rows="13" class="form-control" placeholder="請輸入公告內容。" required></textarea>
  </div>
  <div class="d-grid mb-3 w-50 mx-auto">
    <button type="submit" class="btn btn-primary">送出</button>
  </div>
</form>