<form action="/admin/announcements/{{ announcement.id }}?_method=PUT" method="POST" class="mx-auto">
  <h5><a href="javascript:history.back()" class="text-decoration-none"><i class="fa-solid fa-reply"></i>回上一頁</a></h3>
  <h1 class="text-center mb-3">編輯公告</h1>
  {{> announcement-form}}
</form>