<nav class="navbar bg-danger-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-face-laugh" style="color: #f5b72f;"></i>
      HELLO! 即時通
    </a>
  </div>
</nav>