<div class="col-sm-2 text-center border-end">
  <ul class="nav nav-pills flex-colum justify-content-center">
    <li class="nav-item">
      <h1>
        <a class="nav-link {{#ifCond route 'directories'}}active{{/ifCond}}" href="/directories"><i class="fa-solid fa-address-book"></i></a>
      </h1>
      <h1>
        <a class="nav-link {{#ifCond route 'announcements'}}active{{/ifCond}}" href="/announcements"><i class="fa-solid fa-bullhorn"></i></a>
      </h1>
      <h1>
        <a class="nav-link {{#ifCond route 'users'}}active{{/ifCond}}" href="/users/{{ host.account }}"><i class="fa-solid fa-user"></i></a>
      </h1>
      <h1>
        <a class="nav-link {{#ifCond route 'search'}}active{{/ifCond}}" href="/users/search"><i class="fa-solid fa-search"></i></a>
      </h1>
      <h1>
        <a href="/chat" class="nav-link {{#ifCond route 'chat'}}active{{/ifCond}}"><i class="fa-regular fa-comment-dots"></i></a>
      </h1>
    </li>
  </ul>
</div>