<div class="col-sm-2 text-center border-end">
  <ul class="nav nav-pills flex-colum justify-content-center">
    <li class="nav-item">
      <h1>
        <a class="nav-link {{#ifCond route 'announcements'}}active{{/ifCond}}" href="/announcements"><i class="fa-solid fa-bullhorn"></i></a>
      </h1>
      <h1>
        <a class="nav-link {{#ifCond route 'users'}}active{{/ifCond}}" href="/users/{{ hostAccount }}"><i class="fa-solid fa-user"></i></a>
      </h1>
      <h1>
        <a class="nav-link {{#ifCond route 'search'}}active{{/ifCond}}" href="/users/search"><i class="fa-solid fa-search"></i></a>
      </h1>
    </li>
  </ul>
</div>