<form action="/signup" method="POST" class="w-50 mx-auto">
  <h1 class="text-center mb-3">登入</h1>
  <div class="mb-3">
    <label for="email" class="form-label">電子信箱</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">密碼</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div class="d-grid mb-3">
    <button type="submit" class="btn btn-primary">登入</button>
  </div>
  <div class="text-center mb-3">
    沒有帳號？<a href="/signup">註冊帳號</a>
  </div>
</form>